html,
body {
  font-family: "Open Sans", sans-serif;
  color: #d63b2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #da0001;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(214, 59, 47, 0.25);
  margin-top: 112px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

p {
  line-height: 1.6;
  margin: 20px 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #da0001;
  text-decoration: none;
}

.Content-Section {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.Nav-Bar {
  padding: 10px 80px;
  margin-bottom: 40px;
  background-color: #2d2d2c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Nav-Bar .Nav-Bar-Title {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  object-fit: cover;
}
.Nav-Bar .Nav-Bar-Title a:hover, .Nav-Bar .Nav-Bar-Title a:active, .Nav-Bar .Nav-Bar-Title a:focus {
  text-shadow: 0px 2px 4px rgba(218, 0, 1, 0.3);
}
.Nav-Bar .Nav-Bar-Title a img {
  width: 350px;
}
.Nav-Bar .Nav-Bar-Content {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}
.Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item {
  padding: 10px;
  width: -webkit-min-content;
  width: min-content;
  transition: transform 400ms;
}
.Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item:hover, .Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item:active, .Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item:focus {
  transform: scale(1.1);
}
.Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item .Nav-Bar-Content-Link {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 956px) {
  h1 {
    margin-top: 0px !important;
  }

  .Nav-Bar {
    position: relative !important;
    z-index: 0 !important;
  }
  .Nav-Bar .Nav-Bar-Title {
    justify-content: center !important;
  }
  .Nav-Bar .Nav-Bar-Content {
    flex-flow: column wrap !important;
  }
  .Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item {
    padding: 3px 0 !important;
  }
}
@media only screen and (max-width: 650px) {
  .Nav-Bar .Nav-Bar-Title {
    padding-right: 60px;
  }
}
@media only screen and (max-width: 575px) {
  .Nav-Bar .Nav-Bar-Title {
    padding-right: 0px;
  }
}
.Live-Event {
  padding: 40px 80px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Live-Event .Live-Event-Map-Box {
  background: #ffffff;
  box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  min-height: 500px;
  max-width: 1000px;
  min-width: 500px;
  flex-shrink: 3;
  flex-grow: 3;
  align-self: stretch;
  margin-right: 20px;
  margin-bottom: 20px;
}
.Live-Event .Live-Event-Map-Box .Map {
  padding: 0;
  margin: 0;
  width: calc(100% + 30px);
  margin-left: -15px;
}
.Live-Event .Live-Event-Map-Box .Garmin-Map {
  padding: 0;
  margin: 0;
  width: 104%;
  margin-left: -15px;
  margin-bottom: -10px;
  margin-top: 6px;
}
.Live-Event .Live-Event-Feed-Box {
  background: #ffffff;
  box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  min-height: 500px;
  min-width: 300px;
  max-width: 300px;
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

@media only screen and (max-width: 520px) {
  .Live-Event-Map-Box {
    display: none !important;
  }
}
.Event-Gallery {
  padding: 0 80px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
}
.Event-Gallery .Event-Gallery-Card-Container {
  margin: auto;
  margin-bottom: 30px;
  min-width: 283px;
  max-width: 375px;
}
.Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  transition: transform 400ms;
}
.Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card:hover, .Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card:active, .Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card:focus {
  transform: scale(1.1);
}
.Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card .Event-Gallery-Card-Image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card .Event-Gallery-Card-Info {
  padding: 25px 5px;
  background: #2d2d2c;
  text-align: center;
}
.Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card .Event-Gallery-Card-Info .Event-Gallery-Card-Name {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.Event-Gallery .Event-Gallery-Card-Container .Event-Gallery-Card .Event-Gallery-Card-Info .Event-Gallery-Card-Bio {
  display: block;
  color: #a7a7a7;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.Partners {
  width: 1200px;
  margin: 0px 80px;
  padding-bottom: 35px;
  border-radius: 6px;
  overflow: hidden;
}
.Partners .Partners-Box {
  background: #ffffff;
  box-shadow: 0px 4px 20px #29292926, 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  height: 350px;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}
.Partners .Partners-Box .Partners-Logo {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
  padding: 20px;
}
.Partners .Partners-Box .Partners-Text {
  color: #2d2d2c;
  font-size: 20px;
  padding: 10px;
  padding-top: 10px;
  font-weight: 300;
}

@media only screen and (max-width: 1000px) {
  .Partners .Partners-Box {
    margin: 9px 50px;
  }
}
@media only screen and (max-width: 820px) {
  .Partners .Partners-Text {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 695px) {
  .Partners-Box {
    height: 200px !important;
    width: auto !important;
    margin: 9px 20px !important;
  }
  .Partners-Box .Partners-Text {
    display: none !important;
  }
}
@media only screen and (max-width: 414px) {
  .Partners-Box {
    height: 100px !important;
    width: auto !important;
    margin: 9px 10px !important;
  }
  .Partners-Box .Partners-Logo {
    height: 100px !important;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 350px) {
  .Partners {
    display: none;
  }
}
.Pledge-Tracker {
  margin: auto;
  padding: 0px 80px;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  max-width: 1480px;
}
.Pledge-Tracker .Pledge-Tracker-Description {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  color: #2d2d2c;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.Footer {
  background: #2d2d2c;
  color: #a7a7a7;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 0;
}

.Video-Header {
  text-align: center;
}
.Video-Header video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Video-Header .Video-Header-Content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 450px;
  left: 0;
}
.Video-Header .Video-Header-Content .Video-Header-Content-Text {
  color: #ffffff;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4;
  font-size: 2vw;
  text-align: center;
  padding: 20px 40px;
}
.Video-Header .Video-Header-Content .Pledge-Button {
  margin: 0 10px;
  font-size: 100px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
}

.Info {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -40px;
}
.Info .Info-Subheading {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: -10px;
}
.Info .Info-Content {
  margin-top: 0;
}
.Info .Info-Image {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  width: -webkit-min-content;
  width: min-content;
  width: 450px;
  margin-bottom: 50px;
}

.Learn-More {
  text-align: center;
  padding: 20px 80px;
  padding-top: 100px;
}
.Learn-More .Learn-More-Content {
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 500;
  margin-top: 10px;
}
.Learn-More a {
  color: #da0001;
}
.Learn-More a:hover, .Learn-More a:active, .Learn-More a:focus {
  color: #ffffff;
}
.Learn-More .Learn-More-Logo {
  width: 120px;
}

.About-Content {
  text-align: left;
  padding: 0 80px;
}
.About-Content p {
  text-indent: 50px;
}

@media only screen and (max-width: 956px) {
  .About-Content {
    text-align: center;
  }
  .About-Content p {
    text-indent: 0;
    font-size: 18px;
  }
}
.Social-Button-Box {
  text-align: center;
  padding: 0 80px;
}
.Social-Button-Box .Social-Button-Header {
  font-size: 26px;
  padding-bottom: 15px;
  padding-top: 40px;
}
.Social-Button-Box a {
  color: #2d2d2c;
}
.Social-Button-Box a:hover, .Social-Button-Box a:active, .Social-Button-Box a:focus {
  color: #da0001;
}
.Social-Button-Box .Social-Button {
  padding-bottom: 40px;
  margin: 0 10px;
  font-size: 100px;
  width: 120px;
}

@media only screen and (max-width: 575px) {
  .Social-Button-Box {
    padding: 0 40px;
  }
  .Social-Button-Box .Social-Button {
    margin: 10px 10px;
  }
}
@media only screen and (max-width: 500px) {
  .Social-Button-Box .Social-Button {
    margin: 10px 45px;
    padding-bottom: 0px;
  }
}
.Athlete-Info {
  padding: 40px 80px;
  padding-bottom: 40px;
  max-width: 1000px;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Athlete-Info .Athlete-Info-Photo {
  background: #ffffff;
  box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 3;
  flex-grow: 3;
  height: 500px;
}
.Athlete-Info .Athlete-Info-Bio-Box {
  text-align: left;
  min-width: 300px;
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.Parallax {
  /*background-image: url("backdrop.jpg");*/
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.Dropdown {
  margin: 9px 0;
}
.Dropdown .Dropdown-Toggle {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #da0001, 50%, #f17e7e);
  border: none;
  height: -webkit-fit-content;
  height: fit-content;
  max-width: 160px;
  padding-bottom: 7px;
  padding-top: 9px;
}
.Dropdown .Dropdown-Toggle:hover, .Dropdown .Dropdown-Toggle:active, .Dropdown .Dropdown-Toggle:focus {
  background: linear-gradient(315deg, #da0001, 50%, #f17e7e);
}
.Dropdown .Dropdown-Menu {
  text-align: left;
  background-color: #ffffff;
  transition: height 500ms ease-out;
}
.Dropdown .Dropdown-Menu .Dropdown-Item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 5px 0px;
  padding-right: 20px;
  text-align: right;
}
.Dropdown .Dropdown-Menu .Dropdown-Item:hover, .Dropdown .Dropdown-Menu .Dropdown-Item:active, .Dropdown .Dropdown-Menu .Dropdown-Item:focus {
  text-decoration: none;
  color: #da0001;
  background-color: #f2f2f2;
}