.Event-Gallery {
  padding: 0 80px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;

  justify-content: center;

  .Event-Gallery-Card-Container {
    margin: auto;
    margin-bottom: 30px;
    min-width: 283px; // exatly when live feed section falls below mapbox
    max-width: 375px;

    .Event-Gallery-Card {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      overflow: hidden;
      width: 100%;

      transition: transform 400ms;

      &:hover,
      &:active,
      &:focus {
        transform: scale(1.1);
      }

      .Event-Gallery-Card-Image {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .Event-Gallery-Card-Info {
        padding: 25px 5px;
        background: #2d2d2c;
        text-align: center;

        .Event-Gallery-Card-Name {
          display: block;
          font-size: 20px;
          margin-bottom: 5px;
        }

        .Event-Gallery-Card-Bio {
          display: block;
          color: #a7a7a7;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }
    }
  }
}
