.Info {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -40px;

  .Info-Subheading {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: -10px;
  }

  .Info-Content {
    margin-top: 0;
  }

  .Info-Image {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    width: min-content;
  }
}
