.Live-Event {
  padding: 40px 80px;
  padding-bottom: 40px;

  margin: auto;
  margin-top: -20px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .Live-Event-Map-Box {
    background: #ffffff;
    box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    min-height: 500px;
    max-width: 1000px; // Mapbox doesn't cooperate well with wider frames
    min-width: 500px;
    flex-shrink: 3;
    flex-grow: 3;
    align-self: stretch;
    margin-right: 20px;
    margin-bottom: 20px;

    .Map {
      // Used by mapbox, need this name though
      padding: 0;
      margin: 0;
      width: calc(100% + 30px); // oh yeah its big brain time
      margin-left: -15px;
    }

    .Garmin-Map {
      padding: 0;
      margin: 0;
      width: 104%; // Very sensitive, may need to change
      margin-left: -15px; // ^
      margin-bottom: -10px; // ^
      margin-top: 6px; // ^
    }
  }

  .Live-Event-Feed-Box {
    background: radial-gradient(ellipse at top, #da0001, transparent),
      radial-gradient(ellipse at bottom, #2d2d2c, transparent);
    box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow-y: scroll;
    min-height: 500px;
    min-width: 300px; // Just a guess
    max-width: 300px;
    margin-bottom: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .Live-Event-Map-Box {
    display: none !important;
  }
}
