.Nav-Bar {
  padding: 10px 80px;
  margin-bottom: 40px;
  background-color: #2d2d2c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .Nav-Bar-Title {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    object-fit: cover;

    a {
      &:hover,
      &:active,
      &:focus {
        text-shadow: 0px 2px 4px rgba(218, 0, 1, 0.3);
      }

      img {
        width: 350px;
      }
    }
  }

  .Nav-Bar-Content {
    text-align: right;

    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;

    .Nav-Bar-Content-Item {
      padding: 10px;
      width: min-content;
      transition: transform 400ms;

      &:hover,
      &:active,
      &:focus {
        transform: scale(1.1);
      }

      .Nav-Bar-Content-Link {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media only screen and (max-width: 1125px) {
  h1 {
    margin-top: 0px !important;
  }

  .Nav-Bar {
    position: relative !important;
    z-index: 0 !important;
  }
}

@media only screen and (max-width: 956px) {
  h1 {
    margin-top: 0px !important;
  }

  .Nav-Bar {
    position: relative !important;
    z-index: 0 !important;

    .Nav-Bar-Title {
      justify-content: center !important;
    }
    .Nav-Bar-Content {
      flex-flow: column wrap !important;
      .Nav-Bar-Content-Item {
        padding: 3px 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .Nav-Bar {
    .Nav-Bar-Title {
      padding-right: 60px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .Nav-Bar {
    .Nav-Bar-Title {
      padding-right: 0px;
    }
  }
}
