.Partners {
  width: 1200px;
  margin: 0px 80px;
  padding-bottom: 35px;
  border-radius: 6px;
  overflow: hidden;

  .Partners-Box {
    background: #ffffff;
    box-shadow: 0px 4px 20px #29292926, 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    overflow: hidden;
    height: 350px;
    max-width: 600px;
    text-align: center;
    margin: auto;

    margin-bottom: 10px;

    .Partners-Logo {
      height: 200px;
      width: 100%;
      object-fit: scale-down;
      padding: 20px;
    }

    .Partners-Text {
      color: #2d2d2c;
      font-size: 20px;
      padding: 10px;
      padding-top: 20px;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Partners {
    //padding-bottom: 10px;
    .Partners-Box {
      margin: 9px 50px;
    }
  }
}

@media only screen and (max-width: 695px) {
  .Partners-Box {
    height: 200px !important;
    width: auto !important;
    margin: 9px 20px !important;

    .Partners-Text {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 414px) {
  .Partners-Box {
    height: 100px !important;
    width: auto !important;
    margin: 9px 10px !important;

    .Partners-Logo {
      height: 100px !important;
      padding: 10px !important;
    }
  }
}

@media only screen and (max-width: 350px) {
  .Partners {
    display: none;
  }
}
