.Pledge-Tracker {
  padding: 0px 80px;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;

  .Pledge-Tracker-Description {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2d2d2c;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  }
}
