.Video-Header {
  text-align: center;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .Video-Header-Content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 700px;
    left: 0;

    .Video-Header-Content-Text {
      color: #ffffff;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
      opacity: 0.7;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 1.4;
      font-size: 2vw;
      text-align: center;
      padding: 20px 40px;
    }

    .Pledge-Button {
      margin: 0 10px;
      font-size: 100px;
      width: 120px;
      text-align: center;
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media only screen and (max-width: 1750px) {
  .Video-Header {
    .Video-Header-Content {
      top: 550px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .Video-Header {
    .Video-Header-Content {
      top: 450px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Video-Header {
    position: relative !important;
    z-index: 0 !important;
    .Video-Header-Content {
      top: 400px;
    }
  }
}

@media only screen and (max-width: 1125px) {
  .Nav-Bar {
    margin-bottom: 0px;
  }

  .Video-Header {
    .Video-Header-Content {
      top: 300px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .Video-Header {
    .Video-Header-Content {
      top: 250px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .Video-Header {
    .Video-Header-Content {
      .Video-Header-Content-Text {
        font-size: 24px;
      }
      .Pledge-Button {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .Video-Header {
    .Video-Header-Content {
      top: 150px;
      .Video-Header-Content-Text {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .Video-Header {
    .Video-Header-Content {
      top: 100px;
      .Video-Header-Content-Text {
        font-size: 16px;
      }
    }
  }
}
